<%- include('header') %>
<div id="parent">
    <div id="margeGaucheParent">
        <div id="margeGauche"></div>
        <div id="margeGaucheFade"></div>
    </div>
        
    <div id="detailClient">
        <table>
            <% index.forEach(function(user){ %>
                
                    <tr>
                        <td>
                            <strong>Nom et Prenom :</strong>
                        </td>
                        <td>
                            <strong><%= user.cli_nom %> <%= user.cli_prenom %></strong>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <strong>Naissance :</strong>
                        </td>
                        <td>
                            <strong><%= user.cli_naissance %></strong>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <strong>Num Sécu :</strong>
                        </td>
                        <td>
                            <strong> <%= user.cli_secu %> <%= user.cli_mutuelle %></strong>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <strong>Num Mutuelle :</strong>
                        </td>
                        <td>
                            <strong> <%= user.cli_mutuelle %></strong>
                        </td>
                    </tr>            
            <% }) %>
        </table>
        </div>
    </div>
</div>

<%- include('footer') %>